body{
    height: 100vh;
    display: grid;
    place-items: center;
}

.icon{
    position: relative;
    height: 25px;
    width: 25px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 100%;
}

svg{
    stroke-width: 1px;
    stroke: #444;
    fill: white;
    position: relative;
    width: 100%;
    height: 100%;
}

.svg-icon{
    background-color: #444;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1%;
    height: 1%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}


.svg-fill{
    fill: #444;
    transition: fill 300ms ease-in;
}

.svg-animate{
    animation: pulse 800ms ease-in;
    fill: #444
}

@keyframes pulse {
    0%{
        opacity: .6;
    }
    100%{
        opacity: 0;
        width: 70px;
        height: 70px;
    }

}